# --- Web Framework ---
Flask
Flask-Cors
Werkzeug
gunicorn
Flask-Mail==0.9.1


# --- File Handling ---
PyPDF2
python-docx
python-dotenv

# --- AI & NLP ---
sentence-transformers
huggingface-hub
torch
transformers
numpy

# --- Google Gemini ---
google-generativeai
google-api-core
protobuf

# --- PDF Report Generation ---
reportlab

# --- Optional Utilities ---
requests
tqdm
regex
keybert
spacy
matplotlib




#python -m spacy download en_core_web_sm




